.scroll-float {
  overflow: hidden;
}

.scroll-float-text {
  display: inline-block;
  font-size: clamp(1.2rem, 6vw, 8rem);
  font-weight: 900;
  text-align: left;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizeSpeed;
}

.char {
  display: inline-block;
} 